extends layout

block content
  .container(style="margin-top: 15px;")
    .row
      .col-md-6
        h3#section-title Feedback
        if (errors)
          .alert.alert-info
            h4= msg
            ul
              each error in errors
                li= error.msg
        p We would love to hear from you. Have suggestions for improving our service, questions, or comments? Fill out the form below with your information and feedback and we will get back to you as soon as we can. Please allow a couple of days for us to respond.
        form(action="/feedback" method="post" name="feedback" enctype="application/x-www-form-urlencoded")
          .form-group
            label Name
            input.form-control(type="text" name="name" placeholder="Your name")
          .row
            .col-md-6
              .form-group
                label Email
                input.form-control(type="email" name="email" placeholder="Email")
            .col-md-6
              .form-group
                label Telephone
                input.form-control(type="text" name="telephone" placeholder="Telephone")
          .form-group
            label Subject
            input.form-control(type="text" name="subject" placeholder="Subject")
          .form-group
            label Message
            textarea.form-control#message(name="message" placeholder="Write your feedback here ..." style="height:100px;")
          button.btn(type="submit") Send feedback
      .col-md-6
      
